#languageContainer {
    margin-top: 20px; /* Espace entre le bouton et le conteneur de langue */
}

#languageLabel {
    display: inline-block; /* Pour que le label reste à gauche du sélecteur */
    margin-right: 10px; /* Marge entre le label et le sélecteur */
}

#languageSelectContainer {
    display: inline-block; /* Pour que le sélecteur soit sur la même ligne que le label */
}

#languageSelect {
    padding: 10px; /* Ajout de rembourrage pour le sélecteur */
}

/* Styles précédents ici */

#directionContainer {
    margin-top: 20px; /* Espace entre le conteneur de langue et le conteneur de direction du test */
}

#directionLabel {
    display: inline-block; /* Pour que le label reste à gauche du sélecteur */
    margin-right: 10px; /* Marge entre le label et le sélecteur */
}

#directionSelectContainer {
    display: inline-block; /* Pour que le sélecteur soit sur la même ligne que le label */
}

#directionSelect {
    padding: 10px; /* Ajout de rembourrage pour le sélecteur */
}




#numberOfQuestionsContainer {
    margin-top: 20px; /* Espace entre le conteneur de direction et le nouveau conteneur */
}

#numberOfQuestionsLabel {
    display: inline-block; /* Pour que le label reste à gauche du sélecteur */
    margin-right: 10px; /* Marge entre le label et le sélecteur */
}

#numberOfQuestionsSelectContainer {
    display: inline-block; /* Pour que le sélecteur soit sur la même ligne que le label */
}

#numberOfQuestionsSelect {
    padding: 10px; /* Ajout de rembourrage pour le sélecteur */
}






@media (max-width: 600px) {
    body {
        padding: 1rem; /* Ajout de rembourrage pour les petits écrans */
    }

    .container {
        flex-direction: column; /* Alignement des éléments en colonne pour les petits écrans */
        align-items: flex-start; /* Alignement des éléments à gauche pour les petits écrans */
    }

    .select-label {
        margin-bottom: 0.5rem; /* Espacement entre le label et le sélecteur pour les petits écrans */
        margin-right: 0; /* Suppression de l'espacement à droite pour les petits écrans */
    }

    .select-container {
        width: 100%; /* Largeur du conteneur à 100% pour les petits écrans */
    }
}
